<div class="col-lg-12">
<%= flash[:notice] %>
<div class="card mt-5 mb-5">
 <div class="card-body">
   <h2 class="text-center"> Listing courses </h2>
 </div>
</div>

<table class ="table table-bordered mt-5 md-5">
 <thead>
    <tr>
      
      <th>name</th>
      
     
      
    </tr>
 <thead>
 <tbody>
    <% @course.each do |e| %>
       <tr>
          <td> <%= e.name %> </td>
          
              
         
       </tr>
    <% end %>
   </tbody>
</table>
</div>